gitignore
# Build e Arquivos Temporários
.gradle/
/build/
app/build/
.kotlin/
node_modules/
build_log.txt

# IDE - Android Studio / IntelliJ
.idea/
*.iml

# Configurações Locais e SDK
/local.properties

# Segredos e Assinatura (NUNCA enviar ao repositório)
*.jks
*.keystore
*.p12
google-services.json
keystore.properties

# Outros
.DS_Store
/captures
.externalNativeBuild
.cxx
